/colecciones/nbproject/private/
/colecciones/build/
/colecciones-aprend-1/nbproject/private/
/colecciones-aprend-1/build/
/colecciones-aprend-2/nbproject/private/
/colecciones-aprend-2/build/
/colecciones-aprend-4/nbproject/private/
/colecciones-aprend-4/build/
/colecciones-apren-5/nbproject/private/
/colecciones-apren-5/build/
/colecciones-aprend-6/nbproject/private/
/colecciones-aprend-6/build/
/JavaApplication43/nbproject/private/
/JavaApplication43/build/
/tutoria-colecciones-1/nbproject/private/
/relaciones-aprend-1/nbproject/private/
/tutoria-colecciones-2/nbproject/private/
/tutoria-colecciones-1/build/
/tutoria-colecciones-2/build/
/relaciones-aprend-1/build/
/relaciones-aprend-2/nbproject/private/
/javaBasico/nbproject/private/
/relaciones-aprend-2/build/
/relaciones-aprend-3/nbproject/private/
/relaciones-aprend-3/build/
/relaciones-extra-1/nbproject/private/
/relaciones-extra-1/build/
/relaciones-extra-2/nbproject/private/
/relaciones-extra-2/build/